name: native_ads
description: Flutter plugin for AdMob Native Ads. Compatible with Android and iOS using PlatformView.
version: 0.1.0
author: sakebook <sakebook@gmail.com>
homepage: https://github.com/sakebook/flutter_native_ads

environment:
  sdk: ">=2.1.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  plugin:
    androidPackage: sakebook.github.com.native_ads
    pluginClass: NativeAdsPlugin
